// TODO: This needs to be cleaned up and tested. 

// Here we define the lower and upper bounds for each media size
$small-range: (0em, 40em); /* 0, 640px */
$medium-range: (40.063em, 64em); /* 641px, 1024px */
$large-range: (64.063em, 90em); /* 1025px, 1440px */
$xlarge-range: (90.063em, 120em); /* 1441px, 1920px */
$xxlarge-range: (120.063em); /* 1921px */


$tiny:          320px;
$mobile: 		480px;
$tablet: 		768px;
$desktop: 		992px;
$desktop-large: 1200px;

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */




@mixin tiny {
	@media only screen and (min-width : $tiny) and (max-width : $mobile) {
		@content;
	}
}

// Extra Small Devices, Phones
@mixin mobile {
	@media only screen and (min-width : $mobile) {
		@content;
	}
}

// Mobile Only breakpoint
// Not a default Bootstrap media query but added to target all small devices only
@mixin mobile-only {
	@media only screen and (max-width : $tablet - 1) {
		@content;
	}
}

// Small Devices, Tablets
@mixin tablet {
	@media only screen and (min-width : $tablet) {
		@content;
	}
}

// Medium Devices, Desktops
@mixin desktop {
	@media only screen and (min-width : $desktop) {
		@content;
	}
}

// Large Devices, Wide Screens
@mixin desktop-large {
	@media only screen and (min-width : $desktop-large) {
		@content;
	}
}

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
	@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
		@content;
	}
}
