// This file is sample for project typography. If the project typography is more
// complex for one file then it should be broken up for project maintainablitlly.
// All colors are defined in the colors variable file.

// Compass' Vertical Rhythm init
@include establish-baseline();

// Generating Font Modifer Classes

// Color Map Loop to create Modifer Classes
// Map is located in base/variable/colors
@each $color, $text-color in $colors {
  .font--#{$color} {
    color: $text-color;
  }
}

// Font Weight Map Loop to create Modifer Classes
// Map is located in base/variable/typography
@each $weight, $font-weight in $weights {
  .font--#{$weight} {
    font-weight: $font-weight;
  }
}

// Font Transforms Map Loop to create Modifer Classes
// Map is located in base/variable/typography
@each $case, $font-transform in $transform {
  .font--#{$case} {
    text-transform: $font-transform;
  }
}

// Global Type Styling
// Loop to creating base heading styling
@while $headings < 7 {
  $font-size: $max-font-size - $headings * 4;

  h#{$headings}, .h#{$headings} {
    @include adjust-font-size-to($font-size);
    font-family: $font-headlines;
  }

  $headings: $headings + 1;
}

// Global Link Styling
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

// Typography Helper Classes
// These are for trying to cut down on extra mark up and giving modifier class
// to common typography things.

.font--quiet {
  font-color: $text-quiet;
}

.font--load {
  font-color: $text-loud;
  @extend .font--bold;
}

.font--italic {
  font-style: italic;
}

// Defines all syling for content areas on pages. Typography class is added to
// any section that is heavy in typographical elements.
// i.e. Blogs Posts, Content Pages, etc.

// Typography Set up
.typography {
  text-rendering: optimizeLegibility;

  caption, dl, dd, div, figcaption, figure, h1, h2, h3, h4, h5, h6, p, pre, table, ol, ul {
    margin: 1em 0;
  }

  caption, dl, dd, div, figcaption, figure, p, table, ol, ul, strong, b, u, em, i, abbr[title], address, cite, del, s, sub, sup {
    font-family: $font-body;
  }

  blockquote, ol, ul {
    margin-left: 1em;
  }

  code, pre {
    background: #fff; // TODO: Make real color just a placeholder
    color: $text-color; // TODO: Make something other then default
  }
}

// Block Typography Specific Sytling
.typography {
  h1 {
    // Creative Styling Goes Here
  }

  h2 {
    // Creative Styling Goes Here
  }

  h3 {
    // Creative Styling Goes Here
  }

  h4 {
    // Creative Styling Goes Here
  }

  h5 {
    // Creative Styling Goes Here
  }

  h6 {
    // Creative Styling Goes Here
  }

  p {
    // Creative Styling Goes Here
  }

  blockquote {
    // Creative Styling Goes Here
  }
}

// List Typography Specific Styling
.typograhy {
  ol, ul {
    // Creative Styling Goes Here
  }

  ol ol, ul ul, ol ul, ul ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  ol {
    list-style: decimal;
  }

  ol ol {
    list-style: lower-alpha;
  }

  ol ol ol {
    list-style: lower-roman;
  }

  ol ol ol ol {
    list-style: decimal;
  }

  ul {
    list-style: square;
  }

  li {
    // Creative Styling Goes Here
  }

  dl {
    // Creative Styling Goes Here
  }

  dt {
    @extend .font--bold;
    // Creative Styling Goes Here
  }

  dd {
    margin-top: 0;
    // Creative Styling Goes Here
  }
}

// Media Typography Specifi Styling
.typography {
  embed, iframe, img, object {
    display: inline;
    max-width: 100%;
  }

  figure {
    display: block;
    max-width: 100%;
  }

  figcaption {
    font-size: 80%;
    text-align: left;
  }
}

// Inline Typography element Styling
.typography {

  a {
    // Creative Styling here if needed.
  }
  
  strong, b {
    @extend .font--bold;
  }

  u, em, i {
    @extend .font--italic;
  }

  abbr[title] {
    border-bottom: 1p dotted lighten($color-black, 40%);
  }

  address {
    // Creative Styling Here
  }

  cite {
    @extend .font--italic;
  }

  code {
    font-family: $font-code;
    @include adjust-font-size-to(14px);
    padding: .5em;
  }

  del {
    color: red; // TODO: should be a variable
    text-decoration: line-through;;
  }

  s {
    text-decoration: line-through;
  }

  sub {
    font-size: 80%;
    vertical-align: sub;
  }

  sup {
    font-size: 80%;
    vertical-align: super;
  }
}
